@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document url-prefix("https://www.google.com/reader/view/"), url-prefix("http://www.google.com/reader/view/")
{

    /* =====================================================
     * Name:    Goggle Reader NK - more compact style
     * Author:  Niluge_KiWi
     * Comment: Based on http://userstyles.org/styles/55659/google-reader-imho
     * ===================================================== */


    #overview-selector, #lhn-selectors .selector, .folder .name.name-d-0, #sub-tree-header { padding-left: 20px !important; }
    .lhn-section-footer, .selectors-footer  { margin-left: 0 !important; }
    #recommendations-tree-view-all { margin-left: 42px !important; }
    .folder .folder .folder-toggle { margin-left:6px !important; }
    .folder .sub-icon, .folder .folder>a>.icon { margin-left:20px !important; }
    .folder .folder>ul .icon { margin-left:33px !important; }
    .folder .folder .name-text { max-width:145px !important; }
    .folder-icon, .sub-icon, .tag-icon { opacity: 0.8 !important; }
    .folder-icon { opacity: 0.5 !important; }
    #title-and-status-holder { padding:0.5ex 0 0.3ex 0.5em !important; }
    #chrome-title, #chrome-title a { color: #D14836 !important; }
    #entries { padding:0 !important; }
    #entries .collapsed { line-height:2.5ex !important; padding:2px 0 !important; }
    #entry-actions { line-height:2.5ex !important; padding:2px 0 !important; }
    #entries .entry-icons { top:0px !important; }
    #entries .entry-source-title { top:2px !important; }
    #entries .entry-secondary { top:2px !important; }
    #entries .entry-main .entry-original { top:4px !important; }
    .section-minimize { left: 0px !important; }
    #overview .title { font-size: 110% !important; }
    #logo-container, #logo-section, .item-plusone {display: none !important; }
    #current-entry .card { background: #EFF5FF !important; border: 2px solid #D14836 !important; }
    .read { opacity: 0.7 !important; }
    #current-entry.read { opacity: 1 !important; }
    .jfk-button { height: 19px !important; line-height: 19px !important; }
    .jfk-button {min-width: 21px !important; margin-right: 0px !important; }
    .jfk-textinput { height: 18px !important; }
    .goog-button-base-inner-box { height: 19px !important; }
    .goog-button-base-content { padding-top: 2px !important; }
    .goog-flat-menu-button { line-height: 19px !important; }
    .goog-menu-button-dropdown, .goog-flat-menu-button-dropdown { top: 9px !important; }
    #viewer-refresh { margin-left: 13px !important;margin-right: 4px !important; }
    #lhn-add-subscription-section {height: 30px !important; left: 40px !important; border-bottom: 0px solid #EBEBEB !important; }
    #lhn-add-subscription {margin-top: -12px !important; width: 94px !important; }
    /* #viewer-header { height: 30px !important; margin-left: 340px !important; } */
    #viewer-header { height: 30px !important; }
    #viewer-top-controls-container { margin-top: -12px !important; }
    #viewer-view-options, #mark-all-as-read-split-button, #viewer-top-controls .goog-button {margin-right: 6px !important; }
    #top-bar { display: none !important; }
    #main { margin-top: 0.7ex !important; }
    /* #top-bar {height: 0px !important; } */
    /* #search { position: absolute !important; top: -11px !important; left: 2px !important; } */
    /* #search-input {width: 140px !important; } */
    /* #search .search-restrict {width: 66px !important; margin: 0 10px !important; } */
    #chrome-view-links,  #item-up-down-buttons { margin-right: 6px !important; }
    #sections-header {height: 30px !important; }
    #sections-header .contents {height: 27px !important; right: -320px !important; }
    #scrollable-sections-holder {border-top: 1px solid #E5E5E5 !important; }

}
